@charset "utf-8";
@import "normalize";
@import "custom";

/* ==========================================================================
   site.css.scss
   ========================================================================== */

body {
  background: #d6d6d6;
  text-align: center;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

.logo img {
  height: 18.75em;
  margin-top: 6em;
}

h1 {
  color: rgba(0,0,0,0.5);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}

.doc {
  margin: 3em 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 300;

  a {
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.75em 0.7em;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    &:hover {
      background: rgba(0,0,0,0.2);
      color: white;
      transition: all 0.15s linear;
    }
  }
}

.welcome {
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
   -webkit-transform: scale(0);
   opacity: 0;
  }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
  }
}

/* ==========================================================================
   page text formating
   ========================================================================== */

.Qualification {
  /* Old Chrome, Safari and Opera */
  
  -webkit-max-width:900px;
  -webkit-margin: auto;
  -webkit-text-align: justify;
    
 /* Old Firefox */
  -moz-max-width:900px;
  -moz-margin: auto;
    -moz-text-align: justify;
  
 /* Standard syntax */
  max-width:900px;
  margin: auto;
  text-align: justify;


}


/* ==========================================================================
   End - site.css.scss
   ========================================================================== */
