<!doctype html>
<html>
<!-- 
### About:
### Website build with Middleman 4.1.1 default theme free hosted by GitLab.com with GitLab Pages. 
### Adaptation by Ramos MD @virtuacreative https://gitlab.com/u/virtuacreative ||| https://virtuacreative.com.br/en/ 
### Middleman and GitLab brands are here exposed for illustration only. Copyright to their owners.
-->
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Lindsay Wesley Resume" %></title>
    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
      </head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
