---
title: Lindsay Wesley Resume
---

<div class="welcome">
 <div class="logo">
    <%= image_tag "LindsaySchroerPicture.jpg", :alt => 'Lindsay Wesley Picture' %>
  </div>
      <h1>Lindsay Wesley, PMP Resume <br> <a href="https://gitlab.com/LindsayWesley" target="_blank"> for Senior Product Manager, Create (Static Site Editor) </a></h1>
 <p class="doc">
    <%= link_to "Home", "https://lindsaywesley.gitlab.io/lindsay-wesley-resume/", target: "_self" %>
    <%= link_to "Resume", "/lindsay-wesley-resume/lindsay-wesley-resume", target: "_self" %>
    <%= link_to "LindsaySarah.com", "http://www.lindsaysarah.com/", target: "_blank" %>
    <%= link_to "View Resume as PDF", "https://gitlab.com/LindsayWesley/lindsay-wesley-resume/blob/master/LindsayWesleyResume_public_11.29.2019.pdf", target: "_blank" %>
  <div class="Qualification">
  
 <h2>Quick Facts About Me</h2>
<ul>
 <li>Moved from my home state of Washington to Florida when I was 19, then to Colorado 2 years ago</li>
 <li>Used to bake 2,000+ cookies every December for friends, family, and co-workers. Now that I work remote I cut that back to a few hundred</li>
 <li>Driven a Tank...over a car</li>
 <li>Traveled to Germany, France, Austria, Belgium, and Luxembourg</li>
 <li>Ran a 9 mile race in the middle of the night, out in the middle of the woods</li>
 <li>Love road trips, I've been up and down both the east and west coasts</li>
 <li>Love nature, as you can see by the pictures below</li>
</ul>
 
</br>

<h3 id="large-image">Trail running is the only type of running I like, except when it's cold out. This picture was taken at Devils Backbone Trail near Fort Collins, CO. So far this has been one of my favorite trails since moving to Colorado in 2016.</h3>
<p><%= image_tag "https://github.com/LindsayWesley/Resume/blob/master/img/TrailRunning.jpg?raw=true", :alt => 'Trail Running' width="750" height="421" %></p>
<h3 id="large-image">Also in 2016 my husband and I eloped to Rocky Mountain National Park, and I'm still paying for that in jewelry to my mother-in-law (love you Kathy!)</h3>
<p><%= image_tag "https://github.com/LindsayWesley/Resume/blob/master/img/Wedding.jpg?raw=true", :alt => 'Wedding' width="750" height="421" %></p>
<h3 id="large-image">Why yes, I have been to a Wrestlemania</h3>
<p><%= image_tag "https://github.com/LindsayWesley/Resume/blob/master/img/Wrestlemania.jpg?raw=true", :alt => 'Wrestlemania' width="750" height="421" %></p>
<h3 id="large-image">This is my favorite work proximity associate</h3>
<p><%= image_tag "https://github.com/LindsayWesley/Resume/blob/master/img/CoWorker.jpg?raw=true", :alt => 'CoWorker' width="750" height="421" %></p>
</br>
  </div>
  </p>
  </div>
  <!-- .doc -->
</div><!-- .welcome -->
