---
title: Lindsay Wesley Resume
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "LindsaySchroerPicture.jpg", :alt => 'Lindsay Wesley Picture' %>
  </div>
  <h1>Lindsay Wesley, PMP Resume <br> <a href="https://lindsaywesley.gitlab.io/lindsay-wesley-resume" target="_blank"> for Senior Product Manager, Create (Static Site Editor) </a></h1>
  <p class="doc">
    <%= link_to "Resume", "/lindsay-wesley-resume/lindsay-wesley-resume", target: "_self" %>
    <%= link_to "About Me", "https://lindsaywesley.gitlab.io/lindsay-wesley-resume/about-me/", target: "_self" %>
    <%= link_to "LindsaySarah.com", "http://www.lindsaysarah.com/", target: "_blank" %>
    <%= link_to "View Resume as PDF", "https://gitlab.com/LindsayWesley/lindsay-wesley-resume/blob/master/LindsayWesleyResume_public_11.29.2019.pdf", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
