---
title: Lindsay Wesley Resume
---

<div class="welcome">
 <div class="logo">
    <%= image_tag "LindsaySchroerPicture.jpg", :alt => 'Lindsay Wesley Picture' %>
  </div>
      <h1>Lindsay Wesley, PMP Resume <br> <a href="https://gitlab.com/LindsayWesley" target="_blank"> for Senior Product Manager, Create (Static Site Editor) </a></h1>
 <p class="doc">
    <%= link_to "Home", "https://lindsaywesley.gitlab.io/lindsay-wesley-resume/", target: "_self" %>
    <%= link_to "About Me", "https://lindsaywesley.gitlab.io/lindsay-wesley-resume/about-me/", target: "_self" %>
    <%= link_to "LindsaySarah.com", "http://www.lindsaysarah.com/", target: "_blank" %>
    <%= link_to "View Resume as PDF", "https://gitlab.com/LindsayWesley/lindsay-wesley-resume/blob/master/LindsayWesleyResume_public_11.29.2019.pdf", target: "_blank" %>
  <div class="Qualification">
<h1> Qualification Summary</h1>
          <p> <i>Experienced product manager offering a background in software/web development and project management combined with a PMP certification, an A.S. in Web Design, and B.A.S in Technology Management</i></p>
          <ul>
            <li>Define & prioritize development activities to ensure requirements are captured and execution matches expectations</li>
            <li>Provide vision and subject matter expertise around product domain while exercising critical decision making skills for prioritization and scheduling decisions</li>
            <li>Supervised and mentored team of Release Managers</li>
</div>
<div class="Qualification">
          <h1>Certifications</h1>
            <h3 style='display:inline'>Certified Project Management Professional (PMP)</h3><p style='display:inline'> Since 2014</p>
 </div>
 <br>
 <br>
<div class="Qualification">
          <h1>Skills/Software</h1>
            <h3 style='display:inline'>Certification: </h3><p style='display:inline'>Certified Project Management Professional (PMP)</p>
             </br>  
            <h3 style='display:inline'>Product Mgmt. & Project Mgmt.: </h3><p style='display:inline'>MS Visual Studio Team Services, Forecast, Harvest, Basecamp, Jira, DoneDone,
 Trello, GitHub, familiar with MS Project</p>
             </br>
             <h3 style='display:inline'>Design: </h3><p style='display:inline'>HTML, CSS, Git, InVision, Github, WordPress, Adobe Photoshop, Adobe Illustrator</p>
             </br>       
             <h3 style='display:inline'>Collaboration: </h3><p style='display:inline'>SharePoint, HipChat, Skype, WebEx, Join.me, Hangouts</p>
             </br>
             <h3 style='display:inline'>Research & Analysis: </h3><p style='display:inline'>MS SQL Server Mgmt. Studio, SQL</p>
             </br> 
             <h3 style='display:inline'>Video Editing: </h3><p style='display:inline'>Camtasia</p>
             </br>
            <h3 style='display:inline'>Languages: </h3><p style='display:inline'>SQL (DQL), HTML, CSS, Git</p>
             </br>   
             <p style='display:inline'>*Extensive experience with Microsoft Office product suite</p>
             </br>  
             </div>
</br>
 </br>
<div class="Qualification">
          <h1>Experience</h1>
  <h3 style='display:inline'>Product Manager, Senior</h3>
  </br>
  <h6 style='display:inline'>Effective Health Systems – March 2016 to Present 
  </br>
  Web-based Medical Claims Application </h6>
         <ul>
          <li>Work directly with clients to understand their goals and success criteria to build requirements providing high quality functional specifications for product enhancements</li>
          <li>Work with developers, quality assurance, and product management team to move product and process solutions forward.</li>
          <li>Create client facing training and demo materials including release notes, videos, PDFs, and PowerPoint presentations.</li>
          <li>UI/UX design for all company platforms, including style guides, high fidelity mock-ups, clickable prototypes, enhancing usability and efficiency for the end user. </li>
          <li>Guided 2017 roadmap to focus on user dashboard resulting in a new client implementation.</li>
          <li>Launched functionality resulting in additional revenue streams for the organization.</li>
        </ul>
</br>
<h3 style='display:inline'>Technical Project Manager </h3>
  </br>
  <h6 style='display:inline'>We Are Mammoth – September 2015 to March 2016
  </br>
  Web Development Studio</h6>
       <ul>
          <li>Manage technical project and account management duties in pre-production, production, and post- production life cycle while maintaining and building client relationships </li>
          <li>Responsible for requirements gathering, determining cost and time estimates, creating project schedules, writing statements of work, and client billing reviews. </li>
          <li>Managed a team of front and back end developers from project kick off through launch, as well as post launch maintenance.</li>
          <li>Managed client scope creep, budgets, communication on all project activities, and tested each deliverable prior to client testing and go-live. </li>
          <li>Resource and budget planning, forecasting upcoming projects, and reviewing submitted timesheets for client billing. </li>
          <li>Lead project status meetings with clients and internal teams. </li>
          <li>Primary internal knowledge holder for project deliverables, features, due dates, contracts, and budgets. </li>
        </ul>
</br>
<h3 style='display:inline'>Release Management, Supervisor </h3>
  </br>
  <h6 style='display:inline'>HEALTHESYSTEMS – March 2015 to September 2015
  </br>
  Web-based Medical Claims Application </h6>
         <ul>
          <li>Supervised release management team in order to drive and communicate software release plans and minimize the impact of release changes.</li>
          <li>Train and mentor the release management team, as well as assign work to the release schedule based on resource capacity.</li>
          <li>Responsible for the release management process and related process documentation, training, reinforcement, and continuous improvement. Developed and documented change delivery process providing clarity for IT resulting in faster delivery.</li>
          <li>Supervised team of release managers including performance reviews, mentoring, and developing career paths.</li>
          <li>Performed release trend analysis and reporting (scheduled and adhoc). </li>
          <li>Implemented Kanban boards to help deliver changes bringing higher visibility to business stakeholders.</li>
        </ul>
</br>
<h3 style='display:inline'>Release Manager, Senior </h3>
  </br>
  <h6 style='display:inline'>HEALTHESYSTEMS – July 2012 to March 2015
  </br>
  Web-based Medical Claims Application</h6>
        <ul>
          <li>Executed and monitored monthly software releases coordinating the efforts of IT resources in order to deliver releases according to plan.</li>
          <li>Ensured resources were assigned for the correct time frames, dependencies were identified, and estimated and actual work was updated on a regular and timely basis to facilitate accurate capacity reporting.</li>
          <li>Identified risks and worked with IT resources to identify options for corrective action.</li>
          <li>Tracked and reported on all changes to release scope/schedule/resources.</li>
          <li>Developed release reports for executive management providing visibility on status of in-flight work.</li>
        </ul>
</br>
<h3 style='display:inline'>SoftWeb Product Specialist </h3>
  </br>
  <h6 style='display:inline'>SCC SOFTCOMPUTER – February 2012 to July 2012
  </br>
  Lab Information Software</h6>
           <ul>
          <li>Monitor project plans to ensure timely release of product in order to meet client deadlines. Analyze and process software changes, and perform hazard analysis on enhancements, deficiencies, and defects. Research and document product requirements, provide domain expertise for enhancing existing products and developing new products. Help guide contracted vendors regarding functionality, and validation of products. Monitor and tests software prior to release</li>
           </ul>
 </br>
<h3 style='display:inline'>QC Release Coordinator</h3>
  </br>
  <h6 style='display:inline'>SCC SOFTCOMPUTER – December 2007 to February 2012
  </br>
  Lab Information Software</h6>
         <ul>
          <li>Coordinated testing activities and documentation ensuring product design history files were prepared, complete, verified prior to submission and software release.</li>
          <li>Acted as the central coordination point for releases.</li>
          <li>Supported testing process infrastructure; including communication forums with internal customers and contracted vendors, assigning and managing tasks for testing.</li>
          <li>Project lead and designer of dashboard for reporting testing deliverables companywide reducing time spent providing status updates by 30%.  </li>
        </ul>
             <br></br>
   </div>
  <div class="Qualification">
          <h1 style='display:inline'>Education</h1>
          <br>
  <h3 style='display:inline'>BAS Technology Management</h3>
  </br>
  <h6 style='display:inline'>St. Petersburg College – Clearwater, Fl, Graduated December 2011</h6>
 </br> </br>
  <h3 style='display:inline'>AS Web Design</h3>
  </br>
  <h6 style='display:inline'>St. Petersburg College – Clearwater, Fl, Graduated May 2010</h6>
 </br> </br>
 <h3 style='display:inline'>AAS Hospitality & Tourism</h3>
  </br>
  <h6 style='display:inline'>Valencia Community College – Orlando, FL, Graduated May 2006</h6>
  </div>
  </p>
  </div>
  <!-- .doc -->
</div><!-- .welcome -->
